<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/order.css" />
    <title>Document</title>

    <style>
      @import
      url("https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito&display=swap");
      * { padding: 0; margin: 0; box-sizing: border-box; } body { padding: 1rem
      2rem; } h1 { font-family: "Nunito"; text-transform: uppercase; font-size:
      1.6rem; border: 3px solid orange; display: inline-block; padding: 0.2rem
      0.5rem; margin-bottom: 2rem; } h1 span { color: orange; } p {
      margin-bottom: 1rem; font-size: 1.1rem; } h3 { margin-bottom: 1rem; }
      table { width: 100%; } table th { padding: 10px 15px; font-weight: 700;
      text-align: left; } table td { border-bottom: 1px solid gray; padding:
      1.5rem 15px; text-align: left } table td img { width: 50px; } .item {
      display: flex; gap: 1rem; } .item h4 { align-self: center; margin-left:
      15px; }
    </style>

  </head>

  <body>
    <h1>Physical <span>Point</span></h1>

    <h2>{{title}}</h2>
    <div class="container">
      <p>
        {{sub_title}}
      </p>

      <h3>Order nro {{order_id}}</h3>

      <table>
        <tr>
          <th>Product</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>

        {{#each cart}}

          <tr>
            <td>
              <div class="item">
                <img src={{this.picture}} alt={{this.title}} />
                <h4>{{this.title}}</h4>
              </div>
            </td>
            <td>{{this.amount}}</td>
            <td>{{this.price}}</td>
          </tr>
        {{/each}}

      </table>
    </div>
  </body>
</html>